<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://timetriggeredfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c47b2437-286c-4657-bd21-b259feb8471f/resourcegroups/AzureFunctionDemo/providers/Microsoft.Web/sites/TimeTriggeredFunction</ResourceId>
    <UserName>$TimeTriggeredFunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://timetriggeredfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>